<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbdl.web.sys.mapper.FlawLevelTypeMapper" >
  <resultMap id="BaseResultMap" type="com.hbdl.web.sys.model.FlawLevelType" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="FlawLevelTypeID" property="flawLevelTypeID" jdbcType="DECIMAL" />
    <result column="FlawLevelTypeName" property="flawLevelTypeName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>