<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbdl.web.sys.mapper.FlawSourceTypeMapper" >
  <resultMap id="BaseResultMap" type="com.hbdl.web.sys.model.FlawSourceType" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="FlawSourceTypeID" property="flawSourceTypeID" jdbcType="DECIMAL" />
    <result column="FlawSourceName" property="flawSourceName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>