<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbdl.web.sys.mapper.FlawTypeMapper" >
  <resultMap id="BaseResultMap" type="com.hbdl.web.sys.model.FlawType" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="FlawTypeID" property="flawTypeID" jdbcType="DECIMAL" />
    <result column="FlawTypeName" property="flawTypeName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>