<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbdl.web.sys.mapper.FlawAduitWayMapper" >
  <resultMap id="BaseResultMap" type="com.hbdl.web.sys.model.FlawAduitWay" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="FlawAduitWayID" property="flawAduitWayID" jdbcType="DECIMAL" />
    <result column="FlawAduitWayName" property="flawAduitWayName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>