<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbdl.web.sys.mapper.ManholeStuffTypeMapper" >
  <resultMap id="BaseResultMap" type="com.hbdl.web.sys.model.ManholeStuffType" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ManholeStuffTypeID" property="manholeStuffTypeID" jdbcType="DECIMAL" />
    <result column="ManholeStuffTypeName" property="manholeStuffTypeName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>