<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbdl.web.sys.mapper.OperationTypeMapper" >
  <resultMap id="BaseResultMap" type="com.hbdl.web.sys.model.OperationType" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TypeID" property="typeID" jdbcType="DECIMAL" />
    <result column="TypeName" property="typeName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>