<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbdl.web.sys.mapper.PathAduitRecordMapper" >
  <resultMap id="BaseResultMap" type="com.hbdl.web.sys.model.PathAduitRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="AcceptRecordNum" property="acceptRecordNum" jdbcType="DECIMAL" />
    <result column="TaskStatusTypeID" property="taskStatusTypeID" jdbcType="DECIMAL" />
    <result column="Num" property="num" jdbcType="DECIMAL" />
    <result column="EmployeeID" property="employeeID" jdbcType="VARCHAR" />
    <result column="Task_EmployeeID" property="task_EmployeeID" jdbcType="VARCHAR" />
    <result column="PlanName" property="planName" jdbcType="VARCHAR" />
    <result column="WorkBillsCode" property="workBillsCode" jdbcType="VARCHAR" />
    <result column="PlanDate" property="planDate" jdbcType="TIMESTAMP" />
    <result column="AcceptUserList" property="acceptUserList" jdbcType="VARCHAR" />
    <result column="AcceptOpinion" property="acceptOpinion" jdbcType="VARCHAR" />
    <result column="AcceptDate" property="acceptDate" jdbcType="TIMESTAMP" />
    <result column="AuditResult" property="auditResult" jdbcType="VARCHAR" />
    <result column="AuditDate" property="auditDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="CableInspecteManagePageMap" type="com.hbdl.web.sys.controller.CableInspecteManagePage" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="AcceptRecordNum" property="acceptRecordNum" jdbcType="DECIMAL" />
    <result column="TaskStatusTypeID" property="taskStatusTypeID" jdbcType="DECIMAL" />
    <result column="TaskStatusTypeName" property="taskStatusTypeName" jdbcType="VARCHAR" />
    <result column="Num" property="num" jdbcType="DECIMAL" />
    <result column="EmployeeID" property="employeeID" jdbcType="VARCHAR" />
    <result column="UserName" property="userName" jdbcType="VARCHAR" />
    <result column="Task_EmployeeID" property="task_EmployeeID" jdbcType="VARCHAR" />
    <result column="Task_UserName" property="task_UserName" jdbcType="VARCHAR" />
    <result column="PlanName" property="planName" jdbcType="VARCHAR" />
    <result column="WorkBillsCode" property="workBillsCode" jdbcType="VARCHAR" />
    <result column="PlanDate" property="planDate" jdbcType="TIMESTAMP" />
    <result column="AcceptUserList" property="acceptUserList" jdbcType="VARCHAR" />
    <result column="AcceptOpinion" property="acceptOpinion" jdbcType="VARCHAR" />
    <result column="AcceptDate" property="acceptDate" jdbcType="TIMESTAMP" />
    <result column="AuditResult" property="auditResult" jdbcType="VARCHAR" />
    <result column="AuditDate" property="auditDate" jdbcType="TIMESTAMP" />
    <!-- cabledeviceLedger -->
    <result column="VoltageLevelID" property="voltageLevelID" jdbcType="DECIMAL" />
    <result column="VoltageLevelName" property="voltageLevelName" jdbcType="VARCHAR" />
    <result column="AcceptStatusTypeID" property="acceptStatusTypeID" jdbcType="DECIMAL" />
    <result column="AcceptStatusTypeName" property="acceptStatusTypeName" jdbcType="VARCHAR" />
    <result column="PathTypeID" property="pathTypeID" jdbcType="DECIMAL" />
    <result column="ProjectTypeID" property="projectTypeID" jdbcType="DECIMAL" />
    <result column="ProjectTypeName" property="projectTypeName" jdbcType="VARCHAR" />
    <result column="LedgerName" property="ledgerName" jdbcType="VARCHAR" />
    <result column="LedgerCode" property="ledgerCode" jdbcType="VARCHAR" />
    <result column="ProjectCode" property="projectCode" jdbcType="VARCHAR" />
    <result column="ArchivesTime" property="archivesTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="CableInspecteManagePageSelect" parameterType="com.hbdl.web.sys.controller.CableInspecteManagePage" resultMap="CableInspecteManagePageMap">
    SELECT DISTINCT par.AcceptRecordNum AS AcceptRecordNum, par.TaskStatusTypeID AS TaskStatusTypeID, tst.TaskStatusTypeName AS TaskStatusTypeName,
    par.Num AS Num, par.EmployeeID AS EmployeeID, em.UserName AS UserName, par.Task_EmployeeID AS Task_EmployeeID, emp_em.UserName AS Task_UserName,
    par.PlanName AS PlanName, par.WorkBillsCode AS WorkBillsCode, par.PlanDate AS PlanDate, par.AcceptUserList AS AcceptUserList, par.AcceptOpinion AS AcceptOpinion,
    par.AcceptDate AS AcceptDate, par.AuditResult AS AuditResult, par.AuditDate AS AuditDate, cdl.VoltageLevelID AS VoltageLevelID, cdl.AcceptStatusTypeID AS AcceptStatusTypeID,
    ast.AcceptStatusTypeName AS AcceptStatusTypeName, cdl.PathTypeID AS PathTypeID, cdl.ProjectTypeID AS ProjectTypeID, pt.ProjectTypeName AS ProjectTypeName,
    cdl.LedgerName AS LedgerName, cdl.LedgerCode AS LedgerCode, cdl.ProjectCode AS ProjectCode, cdl.ArchivesTime AS ArchivesTime, pcl.VoltageLevelName AS VoltageLevelName
    FROM PathAduitRecord par
    LEFT OUTER JOIN CableDeviceLedger cdl ON par.Num=cdl.Num
    LEFT OUTER JOIN TaskStatusType tst ON tst.TaskStatusTypeID=par.TaskStatusTypeID
    LEFT OUTER JOIN Employee em ON par.EmployeeID=em.EmployeeID
    LEFT OUTER JOIN Employee emp_em ON par.EmployeeID=emp_em.EmployeeID
    LEFT OUTER JOIN AcceptStatusType ast ON cdl.AcceptStatusTypeID=ast.AcceptStatusTypeID
    LEFT OUTER JOIN ProjectType pt ON cdl.ProjectTypeID=pt.ProjectTypeID
    LEFT OUTER JOIN PowerCableLevel pcl ON pcl.VoltageLevelID=cdl.VoltageLevelID
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="acceptRecordNum!=null">
        and par.AcceptRecordNum = #{acceptRecordNum,jdbcType=DECIMAL}
      </if>
      <if test="taskStatusTypeID!=null">
        and par.TaskStatusTypeID = #{taskStatusTypeID,jdbcType=DECIMAL}
      </if>
      <if test="taskStatusTypeName!=null and taskStatusTypeName!=''">
        and tst.TaskStatusTypeName = #{taskStatusTypeName,jdbcType=VARCHAR}
      </if>
      <if test="num!=null">
        and par.Num = #{num,jdbcType=DECIMAL}
      </if>
      <if test="employeeID!=null">
        and apr.EmployeeID = #{employeeID,jdbcType=DECIMAL}
      </if>
      <if test="task_EmployeeID!=null">
        and em.Task_EmployeeID = #{task_EmployeeID,jdbcType=DECIMAL}
      </if>
      <if test="voltageLevelID!=null">
        and par.VoltageLevelID = #{voltageLevelID,jdbcType=DECIMAL}
      </if>
      <if test="acceptStatusTypeID!=null">
        and cdl.AcceptStatusTypeID = #{acceptStatusTypeID,jdbcType=DECIMAL}
      </if>
      <if test="pathTypeID!=null">
        and cdl.PathTypeID = #{pathTypeID,jdbcType=DECIMAL}
      </if>
      <if test="workBillsCode!=null and workBillsCode!=''">
        and par.WorkBillsCode = #{workBillsCode,jdbcType=VARCHAR}
      </if>
      <if test="projectTypeID!=null">
        and cdl.ProjectTypeID = #{projectTypeID,jdbcType=DECIMAL}
      </if>
      <if test="ledgerName!=null and ledgerName!=''">
        and cdl.LedgerName like '%'||#{ledgerName,jdbcType=VARCHAR}||'%'
      </if>
      <if test="ledgerCode!=null and ledgerCode!=''">
        and cdl.LedgerCode like '%'||#{ledgerCode,jdbcType=VARCHAR}||'%'
      </if>
    </trim>
    <if test="orderStr!=null and orderStr!=''">
      ORDER BY ${orderStr}
    </if>
  </select>

</mapper>