<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbdl.web.sys.mapper.PowerCableLevelMapper" >
  <resultMap id="BaseResultMap" type="com.hbdl.web.sys.model.PowerCableLevel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="VoltageLevelID" property="voltageLevelID" jdbcType="DECIMAL" />
    <result column="VoltageLevelName" property="voltageLevelName" jdbcType="VARCHAR" />
    <result column="VoltageValue" property="voltageValue" jdbcType="DECIMAL" />
    <result column="ShowColor" property="showColor" jdbcType="VARCHAR" />
  </resultMap>
</mapper>