<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbdl.web.auth.mapper.RolesMapper">
  <resultMap id="BaseResultMap" type="com.hbdl.web.auth.model.Roles">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="RoleNum" jdbcType="DECIMAL" property="roleNum" />
    <result column="RoleName" jdbcType="VARCHAR" property="roleName" />
    <result column="Comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>





</mapper>