<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbdl.web.sys.mapper.TunnelShapeTypeMapper" >
  <resultMap id="BaseResultMap" type="com.hbdl.web.sys.model.TunnelShapeType" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TunnelShapeTypeID" property="tunnelShapeTypeID" jdbcType="DECIMAL" />
    <result column="TunnelShapeTypeName" property="tunnelShapeTypeName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>