<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 
		<setting name="logImpl" value="LOG4J" /> 
	-->
	<settings> 
		<!-- 当结果集中含有Null值时是否执行映射对象的setter或者Map对象的put方法。 此设置对于原始类型如int,boolean等无效。 -->
		<setting name="callSettersOnNulls" value="true" />
	</settings> 

</configuration>